body {
    background-color: #f4f4f4;
}
header {
    background: #007BFF;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
.cv-container {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}
.cv {
    margin: 0 20px;
    cursor: pointer;
    transition: transform 0.2s;
}
.cv img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.cv:hover {
    transform: scale(1.05);
}
footer {
    text-align: center;
    padding: 10px 0;
    background: #007BFF;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}