
body {
    background-color: #F7F7F7;
    font-family: Arial, sans-serif;
    color: #854836; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

html, body {
    height: 100%;  
    margin: 0;    
    overflow: hidden; 
}


.container {
    display: flex;
    justify-content: center;  
    align-items: center;      
    gap: 30px;               
    flex-wrap: wrap;          
    height: 100vh;           
}


.cv {
    flex: 0 0 250px;   
    margin: 0 20px;    
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}



.rectangle {
    display: flex; 
    width: 250px;   
    height: 150px; 
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    background-color: white;
}



header {
    background: #FFB22C; 
    color: #000000; 
    padding: 20px 0;
    text-align: center;
    border-bottom: 4px solid #854836; 
}

header h1 {
    font-size: 2.5rem;
}

header p {
    font-size: 1.25rem;
    margin-top: 10px;
}


.cv {
    margin: 0 20px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}



.image-container {
    flex: 1; 
    overflow: hidden;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px; 

}
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; 

}


.text-container {
    flex: 1; 
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.text-container p {
    margin: 5px 0;
    font-size: 1.1rem;
}

.cv:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}



footer {
    text-align: center;
    padding: 10px 0;
    background: #854836; 
    color: #fff;
    width: 100%;
    margin-top: auto;

}

footer p {
    font-size: 1rem;
}
